/* Transformari generale */

* {
    margin: 0;
    padding: 0;
  }
  
  img {
    width: 100%;
    height: 170px;
  }

  h1, h2, h3 {
    font-family: sans-serif;
  }

/* Styling pentru paragrafe si blocuri de text */
/* Controleaza tot ce inseamna text in pagina */

.paragraphs-container p, .panels p, .digital-needs-paragraph,
.contact-us-paragraph, .about-our-company-paragraph, .mail, 
.footer p {
  padding: 1% 5% 5%;
  text-align: center;
  font-size: 110%;
  font-family: sans-serif;
  line-height: 1.5em;
}
  
/* Imaginea mare de la inceput */

  .code-image-container {
    background-image: url("images/images.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-content: center;
  }
  
  .code-image-container * {
    color:white;
    text-align: center;
  }
  
  .welcome , .code-image-heading, .read-more {
    margin-top: 2%;
    font-size: 130%;
  }
  
  .welcome {
    margin-top: 6%;
    font-size: 210%;
  }
  
  .code-image-heading {
    margin-left: 10%;
    margin-right: 10%;
  }
  
  .read-more {
    margin-left: 44%;
    margin-right: 44%;
    height: 70px;
    background-color: rgb(51, 51, 51);
    border: 2px solid rgb(77, 77, 77);
    font-family: sans-serif;
    font-size: 120%;
  }
  
/* Web & Application Developement */

  .web-app-dev {
      background-color: rgb(234, 234, 234);
  }

  .web-dev-heading {
    text-align: center;
    font-size: 140%;
    padding-top: 2%;
  }
  
  .paragraphs-container {
    display: flex;
    margin: 1.5% 20% 0;
  }

/* Cele 3 panouri paralele */

  .panels {
    background-color: rgb(51, 51, 51);
    display: flex;
    height: 550px;
    justify-content: center;
  }
  
  .left, .middle, .right {
    width: 18%;
    margin: 2% 30px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;  
  }
  
  .panels h4 {
    margin-top: 20%;
    margin-bottom: 20%;
    font-size: 135%;
  }

/* We handle all of your digital needs */

  .digital-needs {
    background-color: white;
    text-align: center;
  }

  .digital-needs-heading {
    padding-top: 3%;
    padding-bottom: 3%;
  }

  .digital-needs-paragraph {
    width: 62%;
    margin-left: auto;
    margin-right: auto;
  }

/* Contact us / About our company */

  .adjacent {
    display: flex;
    
  }

  .contact-us, .about-our-company  {
    text-align: center;
    width: 50%;
    color: white;
  }

  .contact-us {
    background-color: rgb(69, 143, 206);
  }

  .contact-us-heading, .about-our-company-heading, .contact-us-paragraph, .about-our-company-paragraph {
    padding-top: 6%;
    padding-bottom: 3%;
    font-size: 130%;
  }

  .mail {
    padding-bottom: 5%;
  }

  .about-our-company {
    background-color: rgb(51, 51, 51);
  }

/* Footer */

  .footer {
    display: flex;
    background-color: black;
    color: white;
    justify-content: space-around; 
  }

  .footer p {
    padding-top: 3%;
    padding-bottom: 3%;
  }

  .traversy-media-link {
    color: rgb(69, 143, 206);
    text-decoration: none;
  }